/* styles css */

* {
    background-color:lightgray;
}

h1 {
 color: black;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.paragraph {
    columns: 1;
    column-width: 200px;
    word-wrap: normal;
}

.body-text {
    color:darkgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paragraph .body-text {
    color: rebeccapurple
}

.poster {
    width: 200px;
    height: auto;
}

.list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-small;
}

